<%= render 'signup_mailer/signup_header' %>

<td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;"
align="left" valign="top">
  <p class="lead" style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 21px; font-size: 18px; margin: 0 0 10px; padding: 0;" align="left">
      The League Manager of <%=@league%> has signed your child, <%=@first %> up to be part of their league.
  </p>
  <p class="lead" style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 21px; font-size: 18px; margin: 0 0 10px; padding: 0;" align="left">
      You can login to see <%=@first%>'s schedule and communicate with his/her coach with your parent login.
  </p>
  <p class="lead" style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 21px; font-size: 18px; margin: 0 0 10px; padding: 0;" align="left">
      To get started, visit <a href="https://team.ez4mysports.com">team.ez4mysports.com</a>!
  </p>
  <p class="lead" style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 21px; font-size: 18px; margin: 0 0 10px; padding: 0;" align="left">
      Your parent login email is <%=@email%>. If you do not remember your password, you can easily reset it on the site.
  </p>
  <p class="lead" style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 21px; font-size: 18px; margin: 0 0 10px; padding: 0;" align="left">
      If you have any questions, please check out our website at <a href="https://www.ez4mysports.com" style="text-decoration: none;">www.ez4mysports.com</a>,
      or feel free to contact us at <a href="mailto:support@ez4mysports.com">support@ez4mysports.com</a>.
  </p>
  <p class="lead" style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 21px; font-size: 18px; margin: 0 0 10px; padding: 0;" align="left">
      Thanks for joining EZ Sports!
  </p>
</td>

<%= render 'signup_mailer/signup_footer' %>
