<%= render 'signup_mailer/signup_header' %>

<td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;"
align="left" valign="top">
  <h3 style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 1.3; word-break: normal; font-size: 40px; margin: 0; padding: 0;" align="left">
      Hi <%= @first %>!</h3>
  <p class="lead" style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 21px; font-size: 18px; margin: 0 0 10px; padding: 0;" align="left">
      Welcome to EZ Sports! The League Manager for <%= @league %> has added you as a coach.</p>
  <p class="lead" style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 21px; font-size: 18px; margin: 0 0 10px; padding: 0;" align="left">
      You can log into your existing EZ Sports account and, once you are assigned a team, you will be able to login to <a href="<%= @link %>">our team site</a> to see your schedule and easily communicate with your team members.
  </p>
  <p class="lead" style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 21px; font-size: 18px; margin: 0 0 10px; padding: 0;" align="left">
      If you have any questions, please check out our site at
      <a href="https://www.ez4mysports.com" style="text-decoration: none;">FAQ</a>, or feel free to contact us. Thanks for joining EZ Sports!</p>
</td>

<%= render 'signup_mailer/signup_footer' %>
